*.egg-info
*.eggs
*.iml
*.pyc
*.swp
.cache
.coverage
.dockerignore
.env*
docker-compose.yml
.git/
.github/
.idea
.mypy_cache
.pytest_cache
.yak/
/build
/dist
Dockerfile
Jenkinsfile
__pycache__
coverage.xml
pytests.xml
scripts/yak
.circleci/
